window {
    background-color: rgba(30, 30, 46, 0.9); /* Fondo oscuro con transparencia */
    border: 2px solid #89b4fa;
    border-radius: 15px;
}

#search-bar {
    background-color: #313244;
    color: #cdd6f4;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#element:selected {
    background-color: #89b4fa;
    color: #1e1e2e;
    border-radius: 8px;
}

#element-text {
    font-size: 16px;
    margin-left: 10px;
}
